server:
  port: 8088
spring:
  application:
    name: BookingService
  config:
    import: optional:configserver:http://localhost:8082
  cloud:
    discovery:
      enabled: true
#    openfeign:
#      client:
#        config:
#          default:
#            connectTimeout: 5000
#            readTimeout: 5000
#            loggerLevel: full

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    org.springframework: INFO
    com.netflix.discovery: DEBUG
    org.springframework.cloud: DEBUG

