server:
  port: 8088
spring:
  application:
    name: BookingService   # Name of the microservice
  datasource:
    url: jdbc:mysql://localhost:3306/akhil
    username: root
    password: flgmp
    driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
      hibernate:
        ddl-auto: update   # Or validate / create / none / create-drop
      show-sql: true
      database-platform: org.hibernate.dialect.MySQL8Dialect
  cloud:
    discovery:
      enabled: true
    openfeign:
      client:
        config:
          default:
            connectTimeout: 5000
            readTimeout: 5000
            loggerLevel: full

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    org.springframework: INFO
    com.netflix.discovery: DEBUG
    org.springframework.cloud: DEBUG

